* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #548CA8;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 320px;
  background-color: #fff;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
}

h2 {
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
}

h3 {
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  color: #FFFFFF;
}

p {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

btn.generate_workout {
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
}

.title_section {
  background-image: url("/workout generator/img/header_img.jpg");
  height: 244px;
}

.title_section__header h1 {
  padding: 33px 126px 0 32px;
}

.title_section__header p {
  text-transform: uppercase;
  padding: 11px 0 0 32px;
  max-width: 60%;
}

.excercise_section {
  position: absolute;
  top: 162px;
  width: 100%;
  height: 100px;
  padding: 0 19px 0 24px;
}

.excercise_section__placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FCFBFB;
  -webkit-box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
}

.excercise_section__description {
  padding: 21px 14px 0 19px;
}

.excercise_section__description h2,
.excercise_section__description p {
  color: black;
}

.excercise_section__description h2 {
  padding: 0 0 9px 0;
}

.excercise_section__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 23px 9px 0;
}

.body_part_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 7em 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#6919ED), to(#0091FF));
  background: linear-gradient(180deg, #6919ED 0%, #0091FF 100%);
}

.body_part_section__dropdown {
  padding: 99px 0 0 36px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body_part_section__dropdowns {
  padding: 9px 33px 0 0;
}

.body_part_section__dropdowns__menu {
  width: 100%;
  height: 34px;
  border-radius: 5.42972px;
  background-color: #FBFBFB;
  background-image: url("/workout generator/arrow-down.svg");
  background-position: 95% center;
  background-repeat: no-repeat;
}

.body_part_section__dropdowns__menu:hover {
  cursor: pointer;
}

.body_part_section .generate_workout {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 29%;
  margin: 16px 0 0 0;
  padding: 12px 0 12px 0;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  background: #FCFBFB;
  -webkit-transition: background .3s, color .3s;
  transition: background .3s, color .3s;
}

.body_part_section .generate_workout:hover {
  cursor: pointer;
  background: #6919ED;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */