* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #548CA8;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 320px;
    background-color: #fff;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
}

h3 {
    font-size: 21px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
}

p {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

btn.generate_workout {
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;
    color: #000000;
}

.title_section {
    background-image: url('/workout generator/img/header_img.jpg');
    height: 244px;

    &__header {
        h1 {
            padding: 33px 126px 0 32px;
        }

        p {
            text-transform: uppercase;
            padding: 11px 0 0 32px;
            max-width: 60%;
        }
    }
}

.excercise_section {
    position: absolute;
    top: 162px;
    width: 100%;
    height: 100px;
    padding: 0 19px 0 24px;


    &__placeholder {
        display: flex;
        background-color: #FCFBFB;
        box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.25);
        border-radius: 17px;
    }

    &__description {
        padding: 21px 14px 0 19px;

        h2,
        p {
            color: black;
        }

        h2 {
            padding: 0 0 9px 0;
        }
    }

    &__img {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 8px 23px 9px 0;
    }
}

.body_part_section {
    display: flex;
    flex-direction: column;
    padding: 0 0 7em 0;
    background: linear-gradient(180deg, #6919ED 0%, #0091FF 100%);

    &__dropdown {
        padding: 99px 0 0 36px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__dropdowns {
        padding: 9px 33px 0 0;

        &__menu {
            width: 100%;
            height: 34px;
            border-radius: 5.42972px;
            background-color: #FBFBFB;
            background-image: url('/workout generator/arrow-down.svg');
            background-position: 95% center;
            background-repeat: no-repeat;
        }

        &__menu:hover {
            cursor: pointer;
        }
    }

    .generate_workout {
        align-self: center;
        width: 29%;
        margin: 16px 0 0 0;
        padding: 12px 0 12px 0;
        outline: none;
        border: none;
        border-radius: 5px;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        background: #FCFBFB;
        transition: background .3s, color .3s;
    }

    .generate_workout:hover {
        cursor: pointer;
        background: #6919ED;
        color: #fff;
    }
}